numpy
astropy
django
psycopg2
gunicorn
whitenoise
requests
django-cors-headers
git+https://github.com/ivan-katkov/django-query-language.git
django-filter
djangorestframework
django-debug-toolbar
drf-yasg
drf-flex-fields